body{
	font-family: Verdana, sans-serif;
}

h1{
	text-align: center;
	text-decoration: underline;
}

#front{
	height: 50%;
	width: 50%;
}

img{
	height: 100%;
	width: 50%;
	display: block;
	margin: auto;
}

nav li{
	float: left;
	display: block;
	color: black;
	text-align: right;
	padding: 14px 16px;
	text-decoration: none;
}

nav{
	margin: 10px;
	background-color: gray;
	overflow: hidden;
}

section {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.side {
	flex: 1;
	margin: 10px;
	padding: 10px; /* Inner spacing */
}

#about-sect{
	display: block;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

figcaption{
	font-style: italic;
	color:rgba(116, 142, 255, 0.9);
}

#image-gallery{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.image{
	width: 33%;
	border: 7px black solid;
}

footer{
	margin: auto;
}